# Pyspark by Kapil Verma

In [1]:
import pyspark
import pandas as pd
file=r'C:\Users\Kapil\Downloads\Customers.csv'
pd.read_csv(file)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

`SparkSession` is the entry point to Spark functionality. It allows you to interact with Spark and utilize its features to process and analyze data. The `SparkSession.builder` is used to create a `SparkSession` instance. Here's what each part of the code you provided does:

1. `SparkSession.builder`: This creates a builder that is used to configure the `SparkSession` before actually creating it.

2. `appName('Practise')`: This sets the name of your Spark application to 'Practise'. This name will be visible in the Spark UI, which is helpful for monitoring and debugging.

3. `getOrCreate()`: This method tries to find an existing `SparkSession` instance or, if it doesn't exist, creates a new one. This is useful because Spark is designed to have only one active `SparkSession` per JVM.

So, by using `SparkSession.builder.appName('Practise').getOrCreate()`, you ensure that you have a `SparkSession` instance named 'Practise' available for use in your Spark application.

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark


In PySpark, the inferSchema option is used to automatically infer the schema of the DataFrame from the data. When inferSchema is set to True, PySpark will automatically examine a sample of the data to determine the data types for each column.

Setting inferSchema=True is useful when you want PySpark to automatically determine the data types of each column based on the actual data values. This can save you from manually specifying the schema, especially when working with large datasets or when the schema is not known in advance.

Here's what happens when you use inferSchema=True:

PySpark reads a sample of the data to determine the data types.
It infers the schema based on the sampled data.
The inferred schema is used to parse the entire dataset.
This can be beneficial because it can handle various data types and formats without requiring explicit schema definition. However, it's important to note that inferring the schema can add some overhead, especially for large datasets or datasets with a wide range of data types.

In [4]:
df_pyspark=spark.read.option('header','true').csv(file,inferSchema=True)

# To check the datatype of the coloumn

In [5]:
df_pyspark.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Annual Income ($): integer (nullable = true)
 |-- Spending Score (1-100): integer (nullable = true)
 |-- Profession: string (nullable = true)
 |-- Work Experience: integer (nullable = true)
 |-- Family Size: integer (nullable = true)

In [6]:
df_pyspark=spark.read.csv(file,header=True,inferSchema=True)
df_pyspark.show()

+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|         1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|         2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|         3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|         4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|         5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|         6|Female| 22|            58000|                    76|       Artist|              0|          2|
|         7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|         8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|         9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|        10|Female| 30|            98000|                    72|       Artist|              1|          4|
|        11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|        12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|        13|Female| 58|            80000|                    15|    Executive|              0|          5|
|        14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|        15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|        16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|        17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|        18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|        19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|        20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [7]:
df_pyspark.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Annual Income ($): integer (nullable = true)
 |-- Spending Score (1-100): integer (nullable = true)
 |-- Profession: string (nullable = true)
 |-- Work Experience: integer (nullable = true)
 |-- Family Size: integer (nullable = true)

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.head(3)

[Row(CustomerID=1, Gender='Male', Age=19, Annual Income ($)=15000, Spending Score (1-100)=39, Profession='Healthcare', Work Experience=1, Family Size=4),
 Row(CustomerID=2, Gender='Male', Age=21, Annual Income ($)=35000, Spending Score (1-100)=81, Profession='Engineer', Work Experience=3, Family Size=3),
 Row(CustomerID=3, Gender='Female', Age=20, Annual Income ($)=86000, Spending Score (1-100)=6, Profession='Engineer', Work Experience=1, Family Size=1)]

In [10]:
df_pyspark.show()

+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|         1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|         2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|         3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|         4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|         5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|         6|Female| 22|            58000|                    76|       Artist|              0|          2|
|         7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|         8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|         9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|        10|Female| 30|            98000|                    72|       Artist|              1|          4|
|        11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|        12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|        13|Female| 58|            80000|                    15|    Executive|              0|          5|
|        14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|        15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|        16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|        17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|        18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|        19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|        20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [11]:
df_pyspark.columns

['CustomerID',
 'Gender',
 'Age',
 'Annual Income ($)',
 'Spending Score (1-100)',
 'Profession',
 'Work Experience',
 'Family Size']

In [12]:
df_pyspark[['CustomerID','Age','Profession', 'Work Experience']]

DataFrame[CustomerID: int, Age: int, Profession: string, Work Experience: int]

In [13]:
df_pyspark.select('CustomerID','Age','Profession', 'Work Experience')

DataFrame[CustomerID: int, Age: int, Profession: string, Work Experience: int]

In [14]:
df_pyspark.select('CustomerID','Age','Profession', 'Work Experience').show()

+----------+---+-------------+---------------+
|CustomerID|Age|   Profession|Work Experience|
+----------+---+-------------+---------------+
|         1| 19|   Healthcare|              1|
|         2| 21|     Engineer|              3|
|         3| 20|     Engineer|              1|
|         4| 23|       Lawyer|              0|
|         5| 31|Entertainment|              2|
|         6| 22|       Artist|              0|
|         7| 35|   Healthcare|              1|
|         8| 23|   Healthcare|              1|
|         9| 64|     Engineer|              0|
|        10| 30|       Artist|              1|
|        11| 67|     Engineer|              1|
|        12| 35|   Healthcare|              4|
|        13| 58|    Executive|              0|
|        14| 24|       Lawyer|              1|
|        15| 37|       Doctor|              0|
|        16| 22|   Healthcare|              1|
|        17| 35|    Homemaker|              9|
|        18| 20|   Healthcare|              1|
|        19| 52|Entertainment|              1|
|        20| 35|       Artist|              0|
+----------+---+-------------+---------------+
only showing top 20 rows

In [15]:
df_pyspark.dtypes

[('CustomerID', 'int'),
 ('Gender', 'string'),
 ('Age', 'int'),
 ('Annual Income ($)', 'int'),
 ('Spending Score (1-100)', 'int'),
 ('Profession', 'string'),
 ('Work Experience', 'int'),
 ('Family Size', 'int')]

In [16]:
df_pyspark.describe()

DataFrame[summary: string, CustomerID: string, Gender: string, Age: string, Annual Income ($): string, Spending Score (1-100): string, Profession: string, Work Experience: string, Family Size: string]

In [17]:
df_pyspark.describe().show()

+-------+-----------------+------+------------------+-----------------+----------------------+----------+------------------+------------------+
|summary|       CustomerID|Gender|               Age|Annual Income ($)|Spending Score (1-100)|Profession|   Work Experience|       Family Size|
+-------+-----------------+------+------------------+-----------------+----------------------+----------+------------------+------------------+
|  count|             2000|  2000|              2000|             2000|                  2000|      1965|              2000|              2000|
|   mean|           1000.5|  NULL|             48.96|      110731.8215|               50.9625|      NULL|            4.1025|            3.7685|
| stddev|577.4945887192364|  NULL|28.429747189565916|45739.53668828386|     27.93466066346952|      NULL|3.9222041753070958|1.9707485062375214|
|    min|                1|Female|                 0|                0|                     0|    Artist|                 0|                 1|
|    max|             2000|  Male|                99|           189974|                   100| Marketing|                17|                 9|
+-------+-----------------+------+------------------+-----------------+----------------------+----------+------------------+------------------+

In [18]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Annual Income After 2 year',df_pyspark['Annual Income ($)']*2.1)

In [19]:
df_pyspark.show()

+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+--------------------------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|Annual Income After 2 year|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+--------------------------+
|         1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|                   31500.0|
|         2|  Male| 21|            35000|                    81|     Engineer|              3|          3|                   73500.0|
|         3|Female| 20|            86000|                     6|     Engineer|              1|          1|                  180600.0|
|         4|Female| 23|            59000|                    77|       Lawyer|              0|          2|                  123900.0|
|         5|Female| 31|            38000|                    40|Entertainment|              2|          6|                   79800.0|
|         6|Female| 22|            58000|                    76|       Artist|              0|          2|                  121800.0|
|         7|Female| 35|            31000|                     6|   Healthcare|              1|          3|                   65100.0|
|         8|Female| 23|            84000|                    94|   Healthcare|              1|          3|                  176400.0|
|         9|  Male| 64|            97000|                     3|     Engineer|              0|          3|                  203700.0|
|        10|Female| 30|            98000|                    72|       Artist|              1|          4|                  205800.0|
|        11|  Male| 67|             7000|                    14|     Engineer|              1|          3|                   14700.0|
|        12|Female| 35|            93000|                    99|   Healthcare|              4|          4|                  195300.0|
|        13|Female| 58|            80000|                    15|    Executive|              0|          5|                  168000.0|
|        14|Female| 24|            91000|                    77|       Lawyer|              1|          1|                  191100.0|
|        15|  Male| 37|            19000|                    13|       Doctor|              0|          1|                   39900.0|
|        16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|                  107100.0|
|        17|Female| 35|            29000|                    35|    Homemaker|              9|          5|                   60900.0|
|        18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|                  186900.0|
|        19|  Male| 52|            20000|                    29|Entertainment|              1|          4|                   42000.0|
|        20|Female| 35|            62000|                    98|       Artist|              0|          1|                  130200.0|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+--------------------------+
only showing top 20 rows

In [20]:
### Drop the columns
df_pyspark=df_pyspark.drop('Annual Income After 2 year')

In [21]:
df_pyspark.show(5)

+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|         1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|         2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|         3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|         4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|         5|Female| 31|            38000|                    40|Entertainment|              2|          6|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 5 rows

In [22]:
### Rename the columns
df_pyspark=df_pyspark.withColumnRenamed('CustomerID','C_ID')

In [23]:
df_pyspark.show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [24]:
df_pyspark.na.drop()

DataFrame[C_ID: int, Gender: string, Age: int, Annual Income ($): int, Spending Score (1-100): int, Profession: string, Work Experience: int, Family Size: int]

In [25]:
df_pyspark.na.drop(how='all').show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows


In PySpark, na.drop() is a method used to remove rows containing missing or null values from a DataFrame. The na attribute is a property of DataFrame in PySpark which provides methods for working with missing data.

Here's an explanation of df_pyspark.na.drop():

DataFrame: df_pyspark represents a DataFrame in PySpark. DataFrames are the primary abstraction in Spark SQL. They represent a distributed collection of data organized into named columns, akin to tables in a relational database, or data frames in R or pandas.

na: This is an attribute of the DataFrame df_pyspark which provides methods for working with missing data. na stands for "missing data".

drop(): drop() is a method provided by the na attribute. It is used to remove rows from the DataFrame that contain any null or NaN values. This method has parameters to control how the dropping operation should be performed.

By default, if any null or NaN values are found in any row, the entire row is dropped.

You can specify additional parameters such as how and thresh to control the behavior of dropping rows.

how: It determines whether to drop the row if any null or NaN value is present ("any", default) or only if all values are null or NaN ("all").

thresh: It specifies the minimum number of non-null values required for a row to be retained. If a row has less than this number of non-null values, it will be dropped.

In [27]:
df_pyspark.na.drop(how='any').show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

the `na.drop()` function is used to drop rows containing missing values (nulls or NaNs) from a DataFrame. When you call `na.drop(how="any", subset=['Age'])`, you're indicating that you want to drop rows where there are missing values specifically in the 'Age' column.

Here's a breakdown of what's happening:

- `df_pyspark`: This is your DataFrame in PySpark.
- `.na`: This refers to the DataFrameNaFunctions class, which contains functions for working with missing data.
- `.drop(how="any", subset=['Age'])`: This is the method used to drop rows containing missing values. The `how="any"` parameter specifies that if any missing values are found in the specified subset of columns, the entire row should be dropped. The `subset=['Age']` parameter specifies that the operation should only consider the 'Age' column when determining which rows to drop.
- `.show()`: This command displays the DataFrame after the rows with missing values in the specified subset have been dropped.

So, after executing `df_pyspark.na.drop(how="any", subset=['Age']).show()`, any rows in the DataFrame `df_pyspark` where there are missing values in the 'Age' column will be dropped, and the resulting DataFrame will be displayed.

In [35]:
df_pyspark.na.drop(how="any",subset=['Age']).show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [28]:
df_pyspark.na.drop(how='any', thresh=2).show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In PySpark, the na.fill() function is used to fill missing values (nulls or NaNs) in a DataFrame with specified values. When you call na.fill('Missing Values'), you're indicating that you want to fill all missing values in the entire DataFrame with the string 'Missing Values'.

Here's a breakdown of what's happening:

df_pyspark: This is your DataFrame in PySpark.
.na: This refers to the DataFrameNaFunctions class, which contains functions for working with missing data.
.fill('Missing Values'): This is the method used to fill missing values in the DataFrame. By passing the string 'Missing Values' as an argument, you're instructing PySpark to replace any missing values in the DataFrame with this specified string.
.show(): This command displays the DataFrame after the missing values have been filled.
So, after executing df_pyspark.na.fill('Missing Values').show(), any missing values in the DataFrame df_pyspark will be replaced by the string 'Missing Values', and the resulting DataFrame will be displayed.

In [34]:
#filling the missing value
df_pyspark.na.fill('Missing Values').show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [37]:
df_pyspark.na.fill('Missing Values',['Gender','Age']).show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

The Imputer class from pyspark.ml.feature is used for imputing missing values in a DataFrame. It's particularly useful when you want to replace missing values with some statistical measure (such as mean, median, or mode) of the column containing the missing values

In [38]:
from pyspark.ml.feature import Imputer

Imputer: This is the class from the pyspark.ml.feature module used for imputing missing values.

inputCols: This parameter specifies the columns in your DataFrame that you want to impute missing values for. In this case, it's 'age', 'Experience', and 'Salary'.

outputCols: This parameter specifies the names of the output columns after imputation. Here, it's generating new column names with "_imputed" appended to the original column names using a list comprehension.

.setStrategy("median"): This method sets the strategy for imputation. In this case, you've chosen the strategy to be "median", which means the missing values will be replaced with the median value of each respective column.

In [41]:
imputer = Imputer(
inputCols=['Age','Work Experience','Annual Income ($)','Spending Score (1-100)'],
outputCols=['{}_imputed'.format(c) for c in ['Age','Work Experience','Annual Income ($)','Spending Score (1-100)']]
).setStrategy('mean')

In [45]:
df_pyspark.show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [47]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show(5)

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+-----------+-----------------------+-------------------------+------------------------------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|Age_imputed|Work Experience_imputed|Annual Income ($)_imputed|Spending Score (1-100)_imputed|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+-----------+-----------------------+-------------------------+------------------------------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|         19|                      1|                    15000|                            39|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|         21|                      3|                    35000|                            81|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|         20|                      1|                    86000|                             6|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|         23|                      0|                    59000|                            77|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|         31|                      2|                    38000|                            40|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+-----------+-----------------------+-------------------------+------------------------------+
only showing top 5 rows

In [48]:
df_pyspark.show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

# Filter Operations

In [67]:
### Age of the people less than or equal to 18
df_pyspark.filter("Age<=18").show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|  34|  Male| 18|            62000|                    92|    Homemaker|              9|          7|
|  66|  Male| 18|             9000|                    59|Entertainment|              0|          2|
|  92|  Male| 18|            36000|                    41|       Artist|              1|          4|
| 115|Female| 18|            97000|                    48|    Executive|              0|          3|
| 203|Female| 16|            60000|                     0|     Engineer|              6|          8|
| 211|Female|  1|            57000|                    93|     Engineer|              1|          2|
| 212|Female|  0|            22000|                    92|       Artist|              2|          1|
| 229|  Male|  0|            33000|                    64|    Marketing|              1|          1|
| 230|  Male| 15|            94000|                    30|   Healthcare|              7|          2|
| 231|Female|  6|            93000|                    53|       Lawyer|              8|          2|
| 235|Female|  4|            84000|                    54|       Artist|              9|          1|
| 240|Female| 14|            50000|                    11|       Artist|              1|          2|
| 257|  Male| 12|            38000|                    18|    Executive|             10|          1|
| 266|  Male|  7|            82000|                    39|Entertainment|              2|          2|
| 272|Female|  1|            12000|                    82|       Doctor|              0|          3|
| 274|Female| 18|           143000|                    99|       Artist|              0|          2|
| 277|  Male| 16|             9000|                    88|    Executive|              7|          4|
| 291|  Male|  9|            27000|                    62|Entertainment|              7|          1|
| 292|Female| 10|            68000|                    80|       Doctor|              6|          3|
| 293|  Male| 11|            38000|                    66|       Artist|              8|          8|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [72]:
df_pyspark.filter("Age<=18").select(['Age','profession']).show()

+---+-------------+
|Age|   profession|
+---+-------------+
| 18|    Homemaker|
| 18|Entertainment|
| 18|       Artist|
| 18|    Executive|
| 16|     Engineer|
|  1|     Engineer|
|  0|       Artist|
|  0|    Marketing|
| 15|   Healthcare|
|  6|       Lawyer|
|  4|       Artist|
| 14|       Artist|
| 12|    Executive|
|  7|Entertainment|
|  1|       Doctor|
| 18|       Artist|
| 16|    Executive|
|  9|Entertainment|
| 10|       Doctor|
| 11|       Artist|
+---+-------------+
only showing top 20 rows

In [73]:
df_pyspark.filter(df_pyspark['Age']>=18).show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [79]:
df_pyspark.filter( (df_pyspark['Age']<=21) & (df_pyspark['Age']>=18) ).show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  32|Female| 21|            34000|                    73|       Doctor|              1|          2|
|  34|  Male| 18|            62000|                    92|    Homemaker|              9|          7|
|  36|Female| 21|            95000|                    81|   Healthcare|              3|          4|
|  40|Female| 20|            69000|                    75|       Artist|              8|          2|
|  62|  Male| 19|            50000|                    55|       Artist|              9|          2|
|  66|  Male| 18|             9000|                    59|Entertainment|              0|          2|
|  69|  Male| 19|            81000|                    59|       Artist|              0|          4|
|  85|Female| 21|            24000|                    57|    Marketing|              1|          3|
|  92|  Male| 18|            36000|                    41|       Artist|              1|          4|
| 100|  Male| 20|            80000|                    49|     Engineer|              3|          3|
| 106|Female| 21|            82000|                    42|       Doctor|              1|          2|
| 112|Female| 19|            25000|                    54|       Artist|              0|          1|
| 114|  Male| 19|             2000|                    46|       Artist|              1|          1|
| 115|Female| 18|            97000|                    48|    Executive|              0|          3|
| 116|Female| 19|            51000|                    50|    Executive|              8|          4|
| 135|  Male| 20|            89000|                     5|     Engineer|              1|          2|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

In [80]:
# not operation
df_pyspark.filter(~(df_pyspark['Age']<=18)).show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+
only showing top 20 rows

# GroupBy And Aggregate Functions

In [82]:
df_pyspark.groupby('Gender').sum().show()

+------+---------+--------+----------------------+---------------------------+--------------------+----------------+
|Gender|sum(C_ID)|sum(Age)|sum(Annual Income ($))|sum(Spending Score (1-100))|sum(Work Experience)|sum(Family Size)|
+------+---------+--------+----------------------+---------------------------+--------------------+----------------+
|Female|  1184029|   57904|             131116706|                      60456|                4786|            4469|
|  Male|   816971|   40016|              90346937|                      41469|                3419|            3068|
+------+---------+--------+----------------------+---------------------------+--------------------+----------------+

In [85]:
df_pyspark.groupBy('Gender').avg().show(2)

+------+------------------+------------------+----------------------+---------------------------+--------------------+------------------+
|Gender|         avg(C_ID)|          avg(Age)|avg(Annual Income ($))|avg(Spending Score (1-100))|avg(Work Experience)|  avg(Family Size)|
+------+------------------+------------------+----------------------+---------------------------+--------------------+------------------+
|Female| 998.3381112984823|48.822934232715006|     110553.7150084317|         50.974704890387855|   4.035413153456998|3.7681281618887015|
|  Male|1003.6498771498772| 49.15970515970516|     110991.3230958231|          50.94471744471745|     4.2002457002457| 3.769041769041769|
+------+------------------+------------------+----------------------+---------------------------+--------------------+------------------+

In [90]:
### Groupby Work Experience  which gives maximum salary
df_pyspark.groupBy('Work Experience','Gender').avg().show()

+---------------+------+------------------+------------------+----------------------+---------------------------+--------------------+------------------+
|Work Experience|Gender|         avg(C_ID)|          avg(Age)|avg(Annual Income ($))|avg(Spending Score (1-100))|avg(Work Experience)|  avg(Family Size)|
+---------------+------+------------------+------------------+----------------------+---------------------------+--------------------+------------------+
|             14|  Male|           593.125|            42.375|             135746.75|                     37.375|                14.0|             3.375|
|              7|Female|1216.2054794520548|51.465753424657535|    110778.82191780822|         49.821917808219176|                 7.0|               4.0|
|             12|  Male| 659.8333333333334|              61.5|              108705.5|         34.833333333333336|                12.0| 4.166666666666667|
|              4|Female|1080.6486486486488| 51.24324324324324|    113056.25675675676|           53.5945945945946|                 4.0| 3.864864864864865|
|              9|  Male| 1162.274193548387| 51.11290322580645|    114133.48387096774|          50.91935483870968|                 9.0| 3.838709677419355|
|              6|  Male| 1039.734693877551| 48.08163265306123|    116781.85714285714|          58.46938775510204|                 6.0| 3.816326530612245|
|             15|Female|           480.875|            43.375|             113727.25|                     57.875|                15.0|             2.875|
|             10|  Male|1242.1944444444443| 57.55555555555556|    112181.38888888889|                      49.25|                10.0|3.7222222222222223|
|              5|Female| 1088.057142857143| 49.07142857142857|    104118.91428571429|                       48.4|                 5.0| 3.757142857142857|
|              3|Female|             789.8|44.833333333333336|    115487.36666666667|                       62.6|                 3.0|               3.7|
|             15|  Male| 495.8333333333333|54.333333333333336|    130754.16666666667|         50.166666666666664|                15.0|3.6666666666666665|
|              4|  Male|1198.3617021276596| 54.95744680851064|    115242.97872340426|         45.234042553191486|                 4.0|3.7872340425531914|
|             13|Female|             564.5|            37.875|             108243.25|                       34.0|                13.0|               3.5|
|             16|  Male|             504.5|              29.5|               90231.5|                       60.5|                16.0|               2.5|
|             10|Female|1389.0416666666667|            53.125|    118228.54166666667|                      57.25|                10.0|3.7708333333333335|
|              1|Female| 879.9590443686006| 48.13993174061434|    108130.73037542662|         50.034129692832764|                 1.0|3.6552901023890785|
|             16|Female| 459.3333333333333|44.666666666666664|     95501.66666666667|                       15.0|                16.0|               2.0|
|              2|  Male| 720.4166666666666|41.291666666666664|     97452.04166666667|                       60.0|                 2.0|3.3333333333333335|
|             13|  Male|           512.625|              42.5|            143906.625|                     51.375|                13.0|             2.875|
|              7|  Male| 1148.811320754717|48.698113207547166|    112091.11320754717|          50.35849056603774|                 7.0| 4.056603773584905|
+---------------+------+------------------+------------------+----------------------+---------------------------+--------------------+------------------+
only showing top 20 rows

In [91]:
df_pyspark.agg({'Family Size':'sum'}).show()

+----------------+
|sum(Family Size)|
+----------------+
|            7537|
+----------------+

In [92]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Work Experience"],outputCol="Independent Features")

In [99]:
output=featureassembler.transform(df_pyspark)

In [100]:
output.show()

+----+------+---+-----------------+----------------------+-------------+---------------+-----------+--------------------+
|C_ID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|Independent Features|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+--------------------+
|   1|  Male| 19|            15000|                    39|   Healthcare|              1|          4|          [19.0,1.0]|
|   2|  Male| 21|            35000|                    81|     Engineer|              3|          3|          [21.0,3.0]|
|   3|Female| 20|            86000|                     6|     Engineer|              1|          1|          [20.0,1.0]|
|   4|Female| 23|            59000|                    77|       Lawyer|              0|          2|          [23.0,0.0]|
|   5|Female| 31|            38000|                    40|Entertainment|              2|          6|          [31.0,2.0]|
|   6|Female| 22|            58000|                    76|       Artist|              0|          2|          [22.0,0.0]|
|   7|Female| 35|            31000|                     6|   Healthcare|              1|          3|          [35.0,1.0]|
|   8|Female| 23|            84000|                    94|   Healthcare|              1|          3|          [23.0,1.0]|
|   9|  Male| 64|            97000|                     3|     Engineer|              0|          3|          [64.0,0.0]|
|  10|Female| 30|            98000|                    72|       Artist|              1|          4|          [30.0,1.0]|
|  11|  Male| 67|             7000|                    14|     Engineer|              1|          3|          [67.0,1.0]|
|  12|Female| 35|            93000|                    99|   Healthcare|              4|          4|          [35.0,4.0]|
|  13|Female| 58|            80000|                    15|    Executive|              0|          5|          [58.0,0.0]|
|  14|Female| 24|            91000|                    77|       Lawyer|              1|          1|          [24.0,1.0]|
|  15|  Male| 37|            19000|                    13|       Doctor|              0|          1|          [37.0,0.0]|
|  16|  Male| 22|            51000|                    79|   Healthcare|              1|          2|          [22.0,1.0]|
|  17|Female| 35|            29000|                    35|    Homemaker|              9|          5|          [35.0,9.0]|
|  18|  Male| 20|            89000|                    66|   Healthcare|              1|          6|          [20.0,1.0]|
|  19|  Male| 52|            20000|                    29|Entertainment|              1|          4|          [52.0,1.0]|
|  20|Female| 35|            62000|                    98|       Artist|              0|          1|          [35.0,0.0]|
+----+------+---+-----------------+----------------------+-------------+---------------+-----------+--------------------+
only showing top 20 rows

In [102]:
finalized_data=output.select("Independent Features","Annual Income ($)")

In [103]:
finalized_data.show()

+--------------------+-----------------+
|Independent Features|Annual Income ($)|
+--------------------+-----------------+
|          [19.0,1.0]|            15000|
|          [21.0,3.0]|            35000|
|          [20.0,1.0]|            86000|
|          [23.0,0.0]|            59000|
|          [31.0,2.0]|            38000|
|          [22.0,0.0]|            58000|
|          [35.0,1.0]|            31000|
|          [23.0,1.0]|            84000|
|          [64.0,0.0]|            97000|
|          [30.0,1.0]|            98000|
|          [67.0,1.0]|             7000|
|          [35.0,4.0]|            93000|
|          [58.0,0.0]|            80000|
|          [24.0,1.0]|            91000|
|          [37.0,0.0]|            19000|
|          [22.0,1.0]|            51000|
|          [35.0,9.0]|            29000|
|          [20.0,1.0]|            89000|
|          [52.0,1.0]|            20000|
|          [35.0,0.0]|            62000|
+--------------------+-----------------+
only showing top 20 rows

In [104]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Annual Income ($)')
regressor=regressor.fit(train_data)

In [105]:
### Coefficients
regressor.coefficients

DenseVector([5.8638, 1030.624])

In [106]:
### Intercepts
regressor.intercept

106059.22706200839

In [107]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [108]:
pred_results.predictions.show()

+--------------------+-----------------+------------------+
|Independent Features|Annual Income ($)|        prediction|
+--------------------+-----------------+------------------+
|           [0.0,1.0]|            61228|107089.85101772021|
|           [0.0,1.0]|            68761|107089.85101772021|
|           [1.0,0.0]|            12000|106065.09090685195|
|           [1.0,0.0]|            79800|106065.09090685195|
|           [1.0,0.0]|           106841|106065.09090685195|
|           [1.0,1.0]|           141307|107095.71486256378|
|           [1.0,2.0]|           150174| 108126.3388182756|
|           [1.0,3.0]|           138656|109156.96277398744|
|           [1.0,8.0]|            92674|114310.08255254658|
|           [1.0,9.0]|           100429| 115340.7065082584|
|           [1.0,9.0]|           140648| 115340.7065082584|
|          [1.0,12.0]|            89144|118432.57837539389|
|           [2.0,1.0]|            52727|107101.57870740735|
|           [2.0,4.0]|           101451|110193.45057454283|
|           [2.0,6.0]|           111618|112254.69848596648|
|           [2.0,8.0]|           175208|114315.94639739014|
|           [2.0,9.0]|            56782|115346.57035310197|
|           [3.0,1.0]|           183851|107107.44255225091|
|           [3.0,2.0]|           117638|108138.06650796274|
|           [3.0,8.0]|            55634|114321.81024223371|
+--------------------+-----------------+------------------+
only showing top 20 rows

In [109]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(37249.08681700133, 1960499510.5941894)